body {
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1;
}